

.dropdown-trigger{
    display: inline-block;

}

.dropdown-title{
    display: inline-block;
    
}

.dropdown-content{
    background-color: aliceblue;
    position: absolute;
    display: none;
    
}

.dropdown-trigger:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.dropdown-content a{
    padding: 5px;
}

.nav-menu a:hover{
    background-color: lightgray;
}

body {
    background-image: url(https://inspetoriasao142819.rm.cloudtotvs.com.br/FrameHTML/web/app/edu/PortalEducacional/login/assets/img/bg.jpg);
    background-color: rgb(209, 209, 209);
}

.logotipo {
    width: auto;
}

h1 {
    padding-top: 2vw;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

header {
    background-color: #fff;
}

a {
    font-size: 16px;
    color: #0e4194;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu li{
    padding-left: 20px;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
}

.botao {
    padding-top: 10px;
}

.container {
    padding-top: 8vw;
    display: flex;
    justify-content: center;
}

.box3 {
    border: solid 2px;
    border-radius: 15px;

    min-height: 30vw;
    width: 70vw;
    background: #fff;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

.input {
    margin-left: 23px;
}
#divConfirmarAlteracao{
    display: none;
}

#botaoEditarSala{
    display: none;
}